Repository AliBagheri2079/story-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --write", "eslint --fix"],
  "*.css": "stylelint --fix"
}

:lipstick: Style: add max width stle to lenis icon
  src/components/Icons/Lenis/index.jsx
Due: prettier --write, eslint --fix

:art: Refactor: update star particle data
  src/components/Particles/config/starData.js
Due: prettier --write, eslint --fix

:lipstick: Style: update header content grid layout style
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:art: Refactor: remove color scheme meta tag, add color scheme property in root style
  index.html
  src/styles/base.css
Due: stylelint --fix

:heavy_plus_sign: Build: add svgr with plugin
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: add svgr plugin in vite config file
  vite.config.js
Due: prettier --write, eslint --fix

:sparkles: Feat: create svg component instance
  src/components/Icons/instance/index.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: add random path generator utility method
  src/utils/randomizePath.js
Due: prettier --write, eslint --fix

:sparkles: Feat: create wave and curve line components
  src/assets/icons/wave.svg
  src/components/Icons/components/CurveLine.jsx
  src/components/Underline/components/Curve.jsx
  src/components/Underline/components/Wave.jsx
  src/components/Underline/components/index.stitches.jsx
  src/components/Underline/index.js
Due: prettier --write, eslint --fix

:sparkles: Feat: create header title component
  src/components/HeaderTitle/index.jsx
  src/components/HeaderTitle/index.stitches.jsx
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add typed.js library
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create useTyped hook with typed.js
  src/hooks/useTyped.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: add a css class component
  src/styles/components.css
Due: stylelint --fix

:sparkles: Feat: create header sidebar component
  src/components/HeaderSidebar/index.jsx
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: create social media component
  src/components/SocialMedia/index.jsx
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: update header title style
  src/components/HeaderTitle/index.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add postcss for plugin
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: add postcss for plugin in config file
  postcss.config.js
Due: prettier --write, eslint --fix

:sparkles: Feat: create gooey button component
  src/components/Buttons/Gooey/index.jsx
  src/components/Buttons/Gooey/index.module.css
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix, stylelint --fix

:heavy_plus_sign: Build: add gsap with lenis
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create useGsapContext with useIsomorphicLayoutEffect hooks
  src/hooks/useGsapContext.jsx
  src/hooks/useIsomorphicLayoutEffect.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: setup gsap and lenis starter options
  src/features/gsap/index.js
  src/features/lenis/index.js
Due: prettier --write, eslint --fix

:sparkles: Feat: create gsap context, initialize on container file
  src/containers/App.jsx
  src/context/Gsap.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add react animated cursor
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create circle cursor
  src/components/Cursors/Circle.jsx
  src/components/Cursors/index.js
  src/containers/App.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: add some base styles related cursor and lenis smooth scrool
  src/styles/base.css
Due: stylelint --fix

:zap: Perf: improve blob button performance with add rest props
  src/components/Buttons/Blob/index.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add uuid
  package.json
  pnpm-lock.yaml
Due: none

:art: Refactor: improve offcanvas component structure
  src/components/Offcanvas/index.jsx
  src/components/Offcanvas/index.stitches.jsx
Due: prettier --write, eslint --fix

:bulb: Refactor: add a todo comment in header title component
  src/components/HeaderTitle/index.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add three.js library
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create three cube component
  src/components/Three/Cube.jsx
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add react three fiber with drei
  package.json
  pnpm-lock.yaml
Due: none

:heavy_plus_sign: Build: add eslint import resolver alias
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: add eslint import resolver settings
  .eslintrc.cjs
Due: none

:sparkles: Feat: create three fiber cube component
  src/components/Three/FiberCube.jsx
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:wrench: Chore: add assetsInclude option in vite config file
  vite.config.js
Due: prettier --write, eslint --fix

:art: Refactor: move svg icon to svg folder
  src/assets/svg/wave.svg
  src/components/Underline/components/Wave.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: update gooey btn font size
  src/components/Buttons/Gooey/index.module.css
Due: stylelint --fix
