Repository AliBagheri2079/story-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --write", "eslint --fix"],
  "*.css": "stylelint --fix"
}

:heavy_plus_sign: Build: add tailwind dependency
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: create tailwind, postcss config files
  postcss.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

:wrench: Chore: add eslint tailwind plugin, setup in config file
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

:fire: Refactor: remove many default files, move app to container folder
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/containers/App.jsx
  src/index.css
  src/main.jsx
Due: prettier --write, eslint --fix, stylelint --fix

:wrench: Chore: update eslint import plugin rule setting
  .eslintrc.cjs
Due: none

:lipstick: Style: add base, component, utils and main style files
  src/main.jsx
  src/styles/base.css
  src/styles/components.css
  src/styles/main.css
  src/styles/utilities.css
Due: prettier --write, eslint --fix, stylelint --fix

:heavy_plus_sign: Build: add cssnano, postcss extend, import, mixins, nested, preset-env, scss and simple vars
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: setup postcss plugins
  postcss.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add stitches dependencies
  package.json
  pnpm-lock.yaml
Due: none

:heavy_plus_sign: Build: add radix ui colors and icons
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create stitches config file
  src/lib/stitches.config.js
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add classnames library
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: add many favicons
  public/storyfire-android.png
  public/storyfire-ios.png
  public/storyfire-web.png
  public/storyfire-windows.png
  public/storyfire.svg
  public/vite.svg
Due: none

:sparkles: Feat: add many meta tag
  index.html
Due: none

:zap: Perf: setup absolute imports
  jsconfig.json
  vite.config.js
Due: prettier --write, eslint --fix

:heavy_plus_sign: Build: add tsparticles with react particles
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create star particle component
  src/components/Particles/Star.jsx
  src/components/Particles/config/starData.js
  src/components/Particles/index.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: create home page file
  src/containers/App.jsx
  src/pages/Home.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: create header layout file
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: add star particle and header layout to home page
  src/pages/Home.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: add avineo, monument regular with bold and moresby fonts
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.eot
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.ttf
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.woff
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.woff2
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.eot
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.ttf
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.woff
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.woff2
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.eot
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.ttf
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.woff
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.woff2
  src/assets/fonts/Moresby/Moresby-Regular.eot
  src/assets/fonts/Moresby/Moresby-Regular.ttf
  src/assets/fonts/Moresby/Moresby-Regular.woff
  src/assets/fonts/Moresby/Moresby-Regular.woff2
  src/assets/fonts/index.css
Due: stylelint --fix

:lipstick: Style: write font utility classes
  src/styles/utilities.css
Due: stylelint --fix

:lipstick: Style: change body background and text colors
  src/styles/base.css
Due: stylelint --fix

:heavy_plus_sign: Build: add prop type library
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: ignore stylelint selector class pattern rule
  .stylelintrc.cjs
Due: none

:wrench: Chore: ignore eslint tailwind custom class rule
  .eslintrc.cjs
Due: none

:sparkles: Feat: create blob button component
  src/components/Buttons/Blob/index.jsx
  src/components/Buttons/Blob/index.module.css
  src/components/Buttons/Blob/index.stitches.jsx
  src/components/Buttons/index.js
Due: prettier --write, eslint --fix, stylelint --fix

:sparkles: Feat: create offcanvas component
  src/components/Offcanvas/index.jsx
  src/components/Offcanvas/index.stitches.jsx
Due: prettier --write, eslint --fix

:sparkles: Feat: create lenis icon component
  src/components/Icons/Lenis/index.jsx
  src/components/Icons/Lenis/index.module.css
  src/components/Icons/index.jsx
Due: prettier --write, eslint --fix, stylelint --fix

:sparkles: Feat: create header layout items
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: add blur style to offcanvas link
  src/components/Offcanvas/index.jsx
  src/components/Offcanvas/index.module.css
  src/components/Offcanvas/index.stitches.jsx
Due: prettier --write, eslint --fix, stylelint --fix

:lipstick: Style: update lenis icon color
  src/components/Icons/Lenis/index.module.css
Due: stylelint --fix

:lipstick: Style: change body colors style
  src/styles/base.css
Due: stylelint --fix

:lipstick: Style: add support height unit for svh
  src/layouts/Header.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: update blob button animation style
  src/components/Buttons/Blob/index.stitches.jsx
Due: prettier --write, eslint --fix

:lipstick: Style: update offcanvas item style
  src/components/Offcanvas/index.jsx
  src/components/Offcanvas/index.module.css
Due: prettier --write, eslint --fix, stylelint --fix

:lipstick: Style: create font variables
  src/styles/base.css
  src/styles/utilities.css
Due: stylelint --fix

:heavy_plus_sign: Build: add stylelint config tailwind package
  package.json
  pnpm-lock.yaml
Due: none

:wrench: Chore: add tailwind stylelint config to stylelint file
  .stylelintrc.cjs
Due: none

:lipstick: Style: update blob btn size to modern size
  src/components/Buttons/Blob/index.stitches.jsx
Due: prettier --write, eslint --fix
